<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="io.litehelpers.cordova.sqlite"
    version="0.7.10">

    <name>Cordova sqlite storage plugin</name>

    <license>MIT</license>

    <keywords>sqlite</keywords>

    <description>Native interface to SQLite for PhoneGap/Cordova. Allows you to use more storage and provides more flexibility than the standard Web SQL database (window.openDatabase).</description>
    <author>litehelpers (various)</author>

    <engines>
        <engine name="cordova" version=">=3.3.0" />
    </engines>

    <js-module src="www/SQLitePlugin.js" name="SQLitePlugin">
        <clobbers target="SQLitePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="android-package" value="io.liteglue.SQLitePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/io/liteglue/SQLitePlugin.java" target-dir="src/io/liteglue"/>
        <source-file src="src/android/io/liteglue/SpatialiteDatabase.java" target-dir="src/io/liteglue"/>

        <source-file src="src/android/jsqlite/Authorizer.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Backup.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Blob.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/BusyHandler.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Callback.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Constants.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Database.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Exception.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Function.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/FunctionContext.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Profile.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/ProgressHandler.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Stmt.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/TableResult.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Trace.java" target-dir="src/jsqlite/" />
        <source-file src="src/android/jsqlite/Vm.java" target-dir="src/jsqlite/" />

        <source-file src="src/android/native/armeabi/libjsqlite.so" target-dir="libs/armeabi/" />
        <source-file src="src/android/native/armeabi-v7a/libjsqlite.so" target-dir="libs/armeabi-v7a/" />
        <source-file src="src/android/native/x86/libjsqlite.so" target-dir="libs/x86/" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="ios-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <framework src="libiconv.dylib" />
        <framework src="libc++.dylib" />
        <framework src="Security.framework" />
        <framework src="libxml2.dylib" />

        <header-file src="src/ios/SQLitePlugin.h" />
        <source-file src="src/ios/SQLitePlugin.m" />

        <source-file src="src/ios/native/libgeos.a" framework="true" />
        <source-file src="src/ios/native/libgeos_c.a" framework="true" />
        <source-file src="src/ios/native/libproj.a" framework="true" />
        <source-file src="src/ios/native/libspatialite.a" framework="true" />
        <source-file src="src/ios/native/libsqlite3.a" framework="true" />

        <!-- GENERATED HEADER INCLUDES -->
        <!-- see GeneratePluginConfigHeaders.py -->
        <header-file src="src/common/geos.h" />
        <header-file src="src/common/geos_c.h" />
        <header-file src="src/common/org_proj4_Projections.h" />
        <header-file src="src/common/proj_api.h" />
        <header-file src="src/common/spatialite.h" />
        <header-file src="src/common/sqlite3.h" />
        <header-file src="src/common/sqlite3ext.h" />
        <header-file src="src/common/geos/export.h" />
        <header-file src="src/common/geos/geom.h" />
        <header-file src="src/common/geos/geomgraph.h" />
        <header-file src="src/common/geos/geomgraphindex.h" />
        <header-file src="src/common/geos/geomUtil.h" />
        <header-file src="src/common/geos/geosAlgorithm.h" />
        <header-file src="src/common/geos/indexBintree.h" />
        <header-file src="src/common/geos/indexChain.h" />
        <header-file src="src/common/geos/indexQuadtree.h" />
        <header-file src="src/common/geos/indexStrtree.h" />
        <header-file src="src/common/geos/indexSweepline.h" />
        <header-file src="src/common/geos/inline.h" />
        <header-file src="src/common/geos/io.h" />
        <header-file src="src/common/geos/noding.h" />
        <header-file src="src/common/geos/nodingSnapround.h" />
        <header-file src="src/common/geos/opBuffer.h" />
        <header-file src="src/common/geos/opDistance.h" />
        <header-file src="src/common/geos/operation.h" />
        <header-file src="src/common/geos/opLinemerge.h" />
        <header-file src="src/common/geos/opOverlay.h" />
        <header-file src="src/common/geos/opPolygonize.h" />
        <header-file src="src/common/geos/opPredicate.h" />
        <header-file src="src/common/geos/opRelate.h" />
        <header-file src="src/common/geos/opValid.h" />
        <header-file src="src/common/geos/planargraph.h" />
        <header-file src="src/common/geos/platform.h" />
        <header-file src="src/common/geos/precision.h" />
        <header-file src="src/common/geos/profiler.h" />
        <header-file src="src/common/geos/spatialIndex.h" />
        <header-file src="src/common/geos/timeval.h" />
        <header-file src="src/common/geos/unload.h" />
        <header-file src="src/common/geos/util.h" />
        <header-file src="src/common/geos/version.h" />
        <header-file src="src/common/geos/algorithm/Angle.h" />
        <header-file src="src/common/geos/algorithm/BoundaryNodeRule.h" />
        <header-file src="src/common/geos/algorithm/CentralEndpointIntersector.h" />
        <header-file src="src/common/geos/algorithm/Centroid.h" />
        <header-file src="src/common/geos/algorithm/CentroidArea.h" />
        <header-file src="src/common/geos/algorithm/CentroidLine.h" />
        <header-file src="src/common/geos/algorithm/CentroidPoint.h" />
        <header-file src="src/common/geos/algorithm/CGAlgorithms.h" />
        <header-file src="src/common/geos/algorithm/ConvexHull.h" />
        <header-file src="src/common/geos/algorithm/ConvexHull.inl" />
        <header-file src="src/common/geos/algorithm/HCoordinate.h" />
        <header-file src="src/common/geos/algorithm/InteriorPointArea.h" />
        <header-file src="src/common/geos/algorithm/InteriorPointLine.h" />
        <header-file src="src/common/geos/algorithm/InteriorPointPoint.h" />
        <header-file src="src/common/geos/algorithm/LineIntersector.h" />
        <header-file src="src/common/geos/algorithm/MCPointInRing.h" />
        <header-file src="src/common/geos/algorithm/MinimumDiameter.h" />
        <header-file src="src/common/geos/algorithm/NotRepresentableException.h" />
        <header-file src="src/common/geos/algorithm/PointInRing.h" />
        <header-file src="src/common/geos/algorithm/PointLocator.h" />
        <header-file src="src/common/geos/algorithm/RayCrossingCounter.h" />
        <header-file src="src/common/geos/algorithm/RobustDeterminant.h" />
        <header-file src="src/common/geos/algorithm/SimplePointInRing.h" />
        <header-file src="src/common/geos/algorithm/SIRtreePointInRing.h" />
        <header-file src="src/common/geos/algorithm/distance/DiscreteHausdorffDistance.h" />
        <header-file src="src/common/geos/algorithm/distance/DistanceToPoint.h" />
        <header-file src="src/common/geos/algorithm/distance/PointPairDistance.h" />
        <header-file src="src/common/geos/algorithm/locate/IndexedPointInAreaLocator.h" />
        <header-file src="src/common/geos/algorithm/locate/PointOnGeometryLocator.h" />
        <header-file src="src/common/geos/algorithm/locate/SimplePointInAreaLocator.h" />
        <header-file src="src/common/geos/geom/BinaryOp.h" />
        <header-file src="src/common/geos/geom/Coordinate.h" />
        <header-file src="src/common/geos/geom/Coordinate.inl" />
        <header-file src="src/common/geos/geom/CoordinateArraySequence.h" />
        <header-file src="src/common/geos/geom/CoordinateArraySequenceFactory.h" />
        <header-file src="src/common/geos/geom/CoordinateArraySequenceFactory.inl" />
        <header-file src="src/common/geos/geom/CoordinateFilter.h" />
        <header-file src="src/common/geos/geom/CoordinateList.h" />
        <header-file src="src/common/geos/geom/CoordinateSequence.h" />
        <header-file src="src/common/geos/geom/CoordinateSequenceFactory.h" />
        <header-file src="src/common/geos/geom/CoordinateSequenceFilter.h" />
        <header-file src="src/common/geos/geom/Dimension.h" />
        <header-file src="src/common/geos/geom/Envelope.h" />
        <header-file src="src/common/geos/geom/Envelope.inl" />
        <header-file src="src/common/geos/geom/Geometry.h" />
        <header-file src="src/common/geos/geom/GeometryCollection.h" />
        <header-file src="src/common/geos/geom/GeometryCollection.inl" />
        <header-file src="src/common/geos/geom/GeometryComponentFilter.h" />
        <header-file src="src/common/geos/geom/GeometryFactory.h" />
        <header-file src="src/common/geos/geom/GeometryFactory.inl" />
        <header-file src="src/common/geos/geom/GeometryFilter.h" />
        <header-file src="src/common/geos/geom/GeometryList.h" />
        <header-file src="src/common/geos/geom/IntersectionMatrix.h" />
        <header-file src="src/common/geos/geom/Lineal.h" />
        <header-file src="src/common/geos/geom/LinearRing.h" />
        <header-file src="src/common/geos/geom/LineSegment.h" />
        <header-file src="src/common/geos/geom/LineSegment.inl" />
        <header-file src="src/common/geos/geom/LineString.h" />
        <header-file src="src/common/geos/geom/Location.h" />
        <header-file src="src/common/geos/geom/MultiLineString.h" />
        <header-file src="src/common/geos/geom/MultiLineString.inl" />
        <header-file src="src/common/geos/geom/MultiPoint.h" />
        <header-file src="src/common/geos/geom/MultiPolygon.h" />
        <header-file src="src/common/geos/geom/MultiPolygon.inl" />
        <header-file src="src/common/geos/geom/Point.h" />
        <header-file src="src/common/geos/geom/Polygon.h" />
        <header-file src="src/common/geos/geom/Polygonal.h" />
        <header-file src="src/common/geos/geom/PrecisionModel.h" />
        <header-file src="src/common/geos/geom/PrecisionModel.inl" />
        <header-file src="src/common/geos/geom/Puntal.h" />
        <header-file src="src/common/geos/geom/Triangle.h" />
        <header-file src="src/common/geos/geom/prep/AbstractPreparedPolygonContains.h" />
        <header-file src="src/common/geos/geom/prep/BasicPreparedGeometry.h" />
        <header-file src="src/common/geos/geom/prep/PreparedGeometry.h" />
        <header-file src="src/common/geos/geom/prep/PreparedGeometryFactory.h" />
        <header-file src="src/common/geos/geom/prep/PreparedLineString.h" />
        <header-file src="src/common/geos/geom/prep/PreparedLineStringIntersects.h" />
        <header-file src="src/common/geos/geom/prep/PreparedPoint.h" />
        <header-file src="src/common/geos/geom/prep/PreparedPolygon.h" />
        <header-file src="src/common/geos/geom/prep/PreparedPolygonContains.h" />
        <header-file src="src/common/geos/geom/prep/PreparedPolygonContainsProperly.h" />
        <header-file src="src/common/geos/geom/prep/PreparedPolygonCovers.h" />
        <header-file src="src/common/geos/geom/prep/PreparedPolygonIntersects.h" />
        <header-file src="src/common/geos/geom/prep/PreparedPolygonPredicate.h" />
        <header-file src="src/common/geos/geom/util/ComponentCoordinateExtracter.h" />
        <header-file src="src/common/geos/geom/util/CoordinateOperation.h" />
        <header-file src="src/common/geos/geom/util/GeometryCombiner.h" />
        <header-file src="src/common/geos/geom/util/GeometryEditor.h" />
        <header-file src="src/common/geos/geom/util/GeometryEditorOperation.h" />
        <header-file src="src/common/geos/geom/util/GeometryExtracter.h" />
        <header-file src="src/common/geos/geom/util/GeometryTransformer.h" />
        <header-file src="src/common/geos/geom/util/LinearComponentExtracter.h" />
        <header-file src="src/common/geos/geom/util/PointExtracter.h" />
        <header-file src="src/common/geos/geom/util/PolygonExtracter.h" />
        <header-file src="src/common/geos/geom/util/ShortCircuitedGeometryVisitor.h" />
        <header-file src="src/common/geos/geom/util/SineStarFactory.h" />
        <header-file src="src/common/geos/geomgraph/Depth.h" />
        <header-file src="src/common/geos/geomgraph/DirectedEdge.h" />
        <header-file src="src/common/geos/geomgraph/DirectedEdge.inl" />
        <header-file src="src/common/geos/geomgraph/DirectedEdgeStar.h" />
        <header-file src="src/common/geos/geomgraph/Edge.h" />
        <header-file src="src/common/geos/geomgraph/EdgeEnd.h" />
        <header-file src="src/common/geos/geomgraph/EdgeEndStar.h" />
        <header-file src="src/common/geos/geomgraph/EdgeIntersection.h" />
        <header-file src="src/common/geos/geomgraph/EdgeIntersectionList.h" />
        <header-file src="src/common/geos/geomgraph/EdgeList.h" />
        <header-file src="src/common/geos/geomgraph/EdgeNodingValidator.h" />
        <header-file src="src/common/geos/geomgraph/EdgeRing.h" />
        <header-file src="src/common/geos/geomgraph/GeometryGraph.h" />
        <header-file src="src/common/geos/geomgraph/GeometryGraph.inl" />
        <header-file src="src/common/geos/geomgraph/GraphComponent.h" />
        <header-file src="src/common/geos/geomgraph/Label.h" />
        <header-file src="src/common/geos/geomgraph/Node.h" />
        <header-file src="src/common/geos/geomgraph/NodeFactory.h" />
        <header-file src="src/common/geos/geomgraph/NodeMap.h" />
        <header-file src="src/common/geos/geomgraph/PlanarGraph.h" />
        <header-file src="src/common/geos/geomgraph/Position.h" />
        <header-file src="src/common/geos/geomgraph/Quadrant.h" />
        <header-file src="src/common/geos/geomgraph/TopologyLocation.h" />
        <header-file src="src/common/geos/geomgraph/index/EdgeSetIntersector.h" />
        <header-file src="src/common/geos/geomgraph/index/MonotoneChain.h" />
        <header-file src="src/common/geos/geomgraph/index/MonotoneChainEdge.h" />
        <header-file src="src/common/geos/geomgraph/index/MonotoneChainIndexer.h" />
        <header-file src="src/common/geos/geomgraph/index/SegmentIntersector.h" />
        <header-file src="src/common/geos/geomgraph/index/SimpleEdgeSetIntersector.h" />
        <header-file src="src/common/geos/geomgraph/index/SimpleMCSweepLineIntersector.h" />
        <header-file src="src/common/geos/geomgraph/index/SimpleSweepLineIntersector.h" />
        <header-file src="src/common/geos/geomgraph/index/SweepLineEvent.h" />
        <header-file src="src/common/geos/geomgraph/index/SweepLineEventObj.h" />
        <header-file src="src/common/geos/geomgraph/index/SweepLineSegment.h" />
        <header-file src="src/common/geos/index/ItemVisitor.h" />
        <header-file src="src/common/geos/index/SpatialIndex.h" />
        <header-file src="src/common/geos/index/bintree/Bintree.h" />
        <header-file src="src/common/geos/index/bintree/Interval.h" />
        <header-file src="src/common/geos/index/bintree/Key.h" />
        <header-file src="src/common/geos/index/bintree/Node.h" />
        <header-file src="src/common/geos/index/bintree/NodeBase.h" />
        <header-file src="src/common/geos/index/bintree/Root.h" />
        <header-file src="src/common/geos/index/chain/MonotoneChain.h" />
        <header-file src="src/common/geos/index/chain/MonotoneChainBuilder.h" />
        <header-file src="src/common/geos/index/chain/MonotoneChainOverlapAction.h" />
        <header-file src="src/common/geos/index/chain/MonotoneChainSelectAction.h" />
        <header-file src="src/common/geos/index/intervalrtree/IntervalRTreeBranchNode.h" />
        <header-file src="src/common/geos/index/intervalrtree/IntervalRTreeLeafNode.h" />
        <header-file src="src/common/geos/index/intervalrtree/IntervalRTreeNode.h" />
        <header-file src="src/common/geos/index/intervalrtree/SortedPackedIntervalRTree.h" />
        <header-file src="src/common/geos/index/quadtree/DoubleBits.h" />
        <header-file src="src/common/geos/index/quadtree/IntervalSize.h" />
        <header-file src="src/common/geos/index/quadtree/Key.h" />
        <header-file src="src/common/geos/index/quadtree/Node.h" />
        <header-file src="src/common/geos/index/quadtree/NodeBase.h" />
        <header-file src="src/common/geos/index/quadtree/Quadtree.h" />
        <header-file src="src/common/geos/index/quadtree/Root.h" />
        <header-file src="src/common/geos/index/strtree/AbstractNode.h" />
        <header-file src="src/common/geos/index/strtree/AbstractSTRtree.h" />
        <header-file src="src/common/geos/index/strtree/Boundable.h" />
        <header-file src="src/common/geos/index/strtree/Interval.h" />
        <header-file src="src/common/geos/index/strtree/ItemBoundable.h" />
        <header-file src="src/common/geos/index/strtree/SIRtree.h" />
        <header-file src="src/common/geos/index/strtree/STRtree.h" />
        <header-file src="src/common/geos/index/sweepline/SweepLineEvent.h" />
        <header-file src="src/common/geos/index/sweepline/SweepLineIndex.h" />
        <header-file src="src/common/geos/index/sweepline/SweepLineInterval.h" />
        <header-file src="src/common/geos/index/sweepline/SweepLineOverlapAction.h" />
        <header-file src="src/common/geos/io/ByteOrderDataInStream.h" />
        <header-file src="src/common/geos/io/ByteOrderDataInStream.inl" />
        <header-file src="src/common/geos/io/ByteOrderValues.h" />
        <header-file src="src/common/geos/io/CLocalizer.h" />
        <header-file src="src/common/geos/io/ParseException.h" />
        <header-file src="src/common/geos/io/StringTokenizer.h" />
        <header-file src="src/common/geos/io/WKBConstants.h" />
        <header-file src="src/common/geos/io/WKBReader.h" />
        <header-file src="src/common/geos/io/WKBWriter.h" />
        <header-file src="src/common/geos/io/WKTReader.h" />
        <header-file src="src/common/geos/io/WKTReader.inl" />
        <header-file src="src/common/geos/io/WKTWriter.h" />
        <header-file src="src/common/geos/io/Writer.h" />
        <header-file src="src/common/geos/linearref/ExtractLineByLocation.h" />
        <header-file src="src/common/geos/linearref/LengthIndexedLine.h" />
        <header-file src="src/common/geos/linearref/LengthIndexOfPoint.h" />
        <header-file src="src/common/geos/linearref/LengthLocationMap.h" />
        <header-file src="src/common/geos/linearref/LinearGeometryBuilder.h" />
        <header-file src="src/common/geos/linearref/LinearIterator.h" />
        <header-file src="src/common/geos/linearref/LinearLocation.h" />
        <header-file src="src/common/geos/linearref/LocationIndexedLine.h" />
        <header-file src="src/common/geos/linearref/LocationIndexOfLine.h" />
        <header-file src="src/common/geos/linearref/LocationIndexOfPoint.h" />
        <header-file src="src/common/geos/noding/BasicSegmentString.h" />
        <header-file src="src/common/geos/noding/FastNodingValidator.h" />
        <header-file src="src/common/geos/noding/FastSegmentSetIntersectionFinder.h" />
        <header-file src="src/common/geos/noding/GeometryNoder.h" />
        <header-file src="src/common/geos/noding/IntersectionAdder.h" />
        <header-file src="src/common/geos/noding/IntersectionFinderAdder.h" />
        <header-file src="src/common/geos/noding/IteratedNoder.h" />
        <header-file src="src/common/geos/noding/MCIndexNoder.h" />
        <header-file src="src/common/geos/noding/MCIndexNoder.inl" />
        <header-file src="src/common/geos/noding/MCIndexSegmentSetMutualIntersector.h" />
        <header-file src="src/common/geos/noding/NodableSegmentString.h" />
        <header-file src="src/common/geos/noding/NodedSegmentString.h" />
        <header-file src="src/common/geos/noding/Noder.h" />
        <header-file src="src/common/geos/noding/NodingValidator.h" />
        <header-file src="src/common/geos/noding/Octant.h" />
        <header-file src="src/common/geos/noding/OrientedCoordinateArray.h" />
        <header-file src="src/common/geos/noding/ScaledNoder.h" />
        <header-file src="src/common/geos/noding/SegmentIntersectionDetector.h" />
        <header-file src="src/common/geos/noding/SegmentIntersector.h" />
        <header-file src="src/common/geos/noding/SegmentNode.h" />
        <header-file src="src/common/geos/noding/SegmentNodeList.h" />
        <header-file src="src/common/geos/noding/SegmentPointComparator.h" />
        <header-file src="src/common/geos/noding/SegmentSetMutualIntersector.h" />
        <header-file src="src/common/geos/noding/SegmentString.h" />
        <header-file src="src/common/geos/noding/SegmentStringUtil.h" />
        <header-file src="src/common/geos/noding/SimpleNoder.h" />
        <header-file src="src/common/geos/noding/SingleInteriorIntersectionFinder.h" />
        <header-file src="src/common/geos/noding/SinglePassNoder.h" />
        <header-file src="src/common/geos/noding/snapround/HotPixel.h" />
        <header-file src="src/common/geos/noding/snapround/HotPixel.inl" />
        <header-file src="src/common/geos/noding/snapround/MCIndexPointSnapper.h" />
        <header-file src="src/common/geos/noding/snapround/MCIndexSnapRounder.h" />
        <header-file src="src/common/geos/noding/snapround/SimpleSnapRounder.h" />
        <header-file src="src/common/geos/operation/GeometryGraphOperation.h" />
        <header-file src="src/common/geos/operation/IsSimpleOp.h" />
        <header-file src="src/common/geos/operation/buffer/BufferBuilder.h" />
        <header-file src="src/common/geos/operation/buffer/BufferInputLineSimplifier.h" />
        <header-file src="src/common/geos/operation/buffer/BufferOp.h" />
        <header-file src="src/common/geos/operation/buffer/BufferParameters.h" />
        <header-file src="src/common/geos/operation/buffer/BufferSubgraph.h" />
        <header-file src="src/common/geos/operation/buffer/OffsetCurveBuilder.h" />
        <header-file src="src/common/geos/operation/buffer/OffsetCurveSetBuilder.h" />
        <header-file src="src/common/geos/operation/buffer/OffsetSegmentGenerator.h" />
        <header-file src="src/common/geos/operation/buffer/OffsetSegmentString.h" />
        <header-file src="src/common/geos/operation/buffer/RightmostEdgeFinder.h" />
        <header-file src="src/common/geos/operation/buffer/SubgraphDepthLocater.h" />
        <header-file src="src/common/geos/operation/distance/ConnectedElementLocationFilter.h" />
        <header-file src="src/common/geos/operation/distance/ConnectedElementPointFilter.h" />
        <header-file src="src/common/geos/operation/distance/DistanceOp.h" />
        <header-file src="src/common/geos/operation/distance/GeometryLocation.h" />
        <header-file src="src/common/geos/operation/linemerge/EdgeString.h" />
        <header-file src="src/common/geos/operation/linemerge/LineMergeDirectedEdge.h" />
        <header-file src="src/common/geos/operation/linemerge/LineMergeEdge.h" />
        <header-file src="src/common/geos/operation/linemerge/LineMergeGraph.h" />
        <header-file src="src/common/geos/operation/linemerge/LineMerger.h" />
        <header-file src="src/common/geos/operation/linemerge/LineSequencer.h" />
        <header-file src="src/common/geos/operation/overlay/EdgeSetNoder.h" />
        <header-file src="src/common/geos/operation/overlay/ElevationMatrix.h" />
        <header-file src="src/common/geos/operation/overlay/ElevationMatrixCell.h" />
        <header-file src="src/common/geos/operation/overlay/FuzzyPointLocator.h" />
        <header-file src="src/common/geos/operation/overlay/LineBuilder.h" />
        <header-file src="src/common/geos/operation/overlay/MaximalEdgeRing.h" />
        <header-file src="src/common/geos/operation/overlay/MinimalEdgeRing.h" />
        <header-file src="src/common/geos/operation/overlay/MinimalEdgeRing.inl" />
        <header-file src="src/common/geos/operation/overlay/OffsetPointGenerator.h" />
        <header-file src="src/common/geos/operation/overlay/OverlayNodeFactory.h" />
        <header-file src="src/common/geos/operation/overlay/OverlayOp.h" />
        <header-file src="src/common/geos/operation/overlay/OverlayResultValidator.h" />
        <header-file src="src/common/geos/operation/overlay/PointBuilder.h" />
        <header-file src="src/common/geos/operation/overlay/PolygonBuilder.h" />
        <header-file src="src/common/geos/operation/overlay/snap/GeometrySnapper.h" />
        <header-file src="src/common/geos/operation/overlay/snap/LineStringSnapper.h" />
        <header-file src="src/common/geos/operation/overlay/snap/SnapIfNeededOverlayOp.h" />
        <header-file src="src/common/geos/operation/overlay/snap/SnapOverlayOp.h" />
        <header-file src="src/common/geos/operation/polygonize/EdgeRing.h" />
        <header-file src="src/common/geos/operation/polygonize/PolygonizeDirectedEdge.h" />
        <header-file src="src/common/geos/operation/polygonize/PolygonizeEdge.h" />
        <header-file src="src/common/geos/operation/polygonize/PolygonizeGraph.h" />
        <header-file src="src/common/geos/operation/polygonize/Polygonizer.h" />
        <header-file src="src/common/geos/operation/predicate/RectangleContains.h" />
        <header-file src="src/common/geos/operation/predicate/RectangleIntersects.h" />
        <header-file src="src/common/geos/operation/predicate/SegmentIntersectionTester.h" />
        <header-file src="src/common/geos/operation/relate/EdgeEndBuilder.h" />
        <header-file src="src/common/geos/operation/relate/EdgeEndBundle.h" />
        <header-file src="src/common/geos/operation/relate/EdgeEndBundleStar.h" />
        <header-file src="src/common/geos/operation/relate/RelateComputer.h" />
        <header-file src="src/common/geos/operation/relate/RelateNode.h" />
        <header-file src="src/common/geos/operation/relate/RelateNodeFactory.h" />
        <header-file src="src/common/geos/operation/relate/RelateNodeGraph.h" />
        <header-file src="src/common/geos/operation/relate/RelateOp.h" />
        <header-file src="src/common/geos/operation/sharedpaths/SharedPathsOp.h" />
        <header-file src="src/common/geos/operation/union/CascadedPolygonUnion.h" />
        <header-file src="src/common/geos/operation/union/CascadedUnion.h" />
        <header-file src="src/common/geos/operation/union/GeometryListHolder.h" />
        <header-file src="src/common/geos/operation/union/PointGeometryUnion.h" />
        <header-file src="src/common/geos/operation/union/UnaryUnionOp.h" />
        <header-file src="src/common/geos/operation/valid/ConnectedInteriorTester.h" />
        <header-file src="src/common/geos/operation/valid/ConsistentAreaTester.h" />
        <header-file src="src/common/geos/operation/valid/IsValidOp.h" />
        <header-file src="src/common/geos/operation/valid/QuadtreeNestedRingTester.h" />
        <header-file src="src/common/geos/operation/valid/RepeatedPointTester.h" />
        <header-file src="src/common/geos/operation/valid/SimpleNestedRingTester.h" />
        <header-file src="src/common/geos/operation/valid/SweeplineNestedRingTester.h" />
        <header-file src="src/common/geos/operation/valid/TopologyValidationError.h" />
        <header-file src="src/common/geos/planargraph/DirectedEdge.h" />
        <header-file src="src/common/geos/planargraph/DirectedEdgeStar.h" />
        <header-file src="src/common/geos/planargraph/Edge.h" />
        <header-file src="src/common/geos/planargraph/GraphComponent.h" />
        <header-file src="src/common/geos/planargraph/Node.h" />
        <header-file src="src/common/geos/planargraph/NodeMap.h" />
        <header-file src="src/common/geos/planargraph/PlanarGraph.h" />
        <header-file src="src/common/geos/planargraph/Subgraph.h" />
        <header-file src="src/common/geos/planargraph/algorithm/ConnectedSubgraphFinder.h" />
        <header-file src="src/common/geos/precision/CommonBits.h" />
        <header-file src="src/common/geos/precision/CommonBitsOp.h" />
        <header-file src="src/common/geos/precision/CommonBitsRemover.h" />
        <header-file src="src/common/geos/precision/EnhancedPrecisionOp.h" />
        <header-file src="src/common/geos/precision/GeometryPrecisionReducer.h" />
        <header-file src="src/common/geos/precision/PrecisionReducerCoordinateOperation.h" />
        <header-file src="src/common/geos/precision/SimpleGeometryPrecisionReducer.h" />
        <header-file src="src/common/geos/simplify/DouglasPeuckerLineSimplifier.h" />
        <header-file src="src/common/geos/simplify/DouglasPeuckerSimplifier.h" />
        <header-file src="src/common/geos/simplify/LineSegmentIndex.h" />
        <header-file src="src/common/geos/simplify/TaggedLineSegment.h" />
        <header-file src="src/common/geos/simplify/TaggedLinesSimplifier.h" />
        <header-file src="src/common/geos/simplify/TaggedLineString.h" />
        <header-file src="src/common/geos/simplify/TaggedLineStringSimplifier.h" />
        <header-file src="src/common/geos/simplify/TopologyPreservingSimplifier.h" />
        <header-file src="src/common/geos/triangulate/DelaunayTriangulationBuilder.h" />
        <header-file src="src/common/geos/triangulate/IncrementalDelaunayTriangulator.h" />
        <header-file src="src/common/geos/triangulate/quadedge/LastFoundQuadEdgeLocator.h" />
        <header-file src="src/common/geos/triangulate/quadedge/LocateFailureException.h" />
        <header-file src="src/common/geos/triangulate/quadedge/QuadEdge.h" />
        <header-file src="src/common/geos/triangulate/quadedge/QuadEdgeLocator.h" />
        <header-file src="src/common/geos/triangulate/quadedge/QuadEdgeSubdivision.h" />
        <header-file src="src/common/geos/triangulate/quadedge/TrianglePredicate.h" />
        <header-file src="src/common/geos/triangulate/quadedge/TriangleVisitor.h" />
        <header-file src="src/common/geos/triangulate/quadedge/Vertex.h" />
        <header-file src="src/common/geos/util/Assert.h" />
        <header-file src="src/common/geos/util/AssertionFailedException.h" />
        <header-file src="src/common/geos/util/CoordinateArrayFilter.h" />
        <header-file src="src/common/geos/util/GeometricShapeFactory.h" />
        <header-file src="src/common/geos/util/GEOSException.h" />
        <header-file src="src/common/geos/util/IllegalArgumentException.h" />
        <header-file src="src/common/geos/util/IllegalStateException.h" />
        <header-file src="src/common/geos/util/Interrupt.h" />
        <header-file src="src/common/geos/util/Machine.h" />
        <header-file src="src/common/geos/util/math.h" />
        <header-file src="src/common/geos/util/TopologyException.h" />
        <header-file src="src/common/geos/util/UniqueCoordinateArrayFilter.h" />
        <header-file src="src/common/geos/util/UnsupportedOperationException.h" />
        <header-file src="src/common/spatialite/control_points.h" />
        <header-file src="src/common/spatialite/debug.h" />
        <header-file src="src/common/spatialite/gaiaaux.h" />
        <header-file src="src/common/spatialite/gaiaexif.h" />
        <header-file src="src/common/spatialite/gaiageo.h" />
        <header-file src="src/common/spatialite/gaiamatrix.h" />
        <header-file src="src/common/spatialite/geopackage.h" />
        <header-file src="src/common/spatialite/gg_advanced.h" />
        <header-file src="src/common/spatialite/gg_const.h" />
        <header-file src="src/common/spatialite/gg_core.h" />
        <header-file src="src/common/spatialite/gg_dxf.h" />
        <header-file src="src/common/spatialite/gg_dynamic.h" />
        <header-file src="src/common/spatialite/gg_formats.h" />
        <header-file src="src/common/spatialite/gg_mbr.h" />
        <header-file src="src/common/spatialite/gg_structs.h" />
        <header-file src="src/common/spatialite/gg_wfs.h" />
        <header-file src="src/common/spatialite/gg_xml.h" />
        <header-file src="src/common/spatialite/spatialite.h" />
        <header-file src="src/common/spatialite/sqlite.h" />

    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/SQLiteProxy.js" name="SQLiteProxy">
            <merges target="" />
        </js-module>

        <!-- SQLite3 JS module from SQLite3-WinRT/SQLite3JS: -->
        <js-module src="src/windows/SQLite3-WinRT/SQLite3JS/js/SQLite3.js" name="SQLite3">
            <merges target="" />
        </js-module>

        <!-- Thanks to AllJoyn-Cordova / cordova-plugin-alljoyn: -->
        <framework src="src/windows/SQLite3-WinRT/SQLite3/SQLite3.Windows/SQLite3.Windows.vcxproj" custom="true" type="projectReference" target="windows" />
        <framework src="src/windows/SQLite3-WinRT/SQLite3/SQLite3.WindowsPhone/SQLite3.WindowsPhone.vcxproj" custom="true" type="projectReference" target="phone" />

    </platform>

    <!-- wp8 using dlls [should work but not tested on wp7]
         NOTE: SQLiteWPNative.dll includes the classes from SQLite.cs
         (which is not desired).
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="wp-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <source-file src="src/wp/SQLitePlugin.cs" />
        <framework src="src/wp/cs-sqlite-dll/SQLiteWPNative.dll" custom="true" />

    </platform>
    -->

    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="wp-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <source-file src="src/wp/SQLitePlugin.cs" />
        <source-file src="src/wp/SQLite.cs" />

        <source-file src="src/wp/csharp-sqlite-src/_Custom.cs" />

        <source-file src="src/wp/csharp-sqlite-src/BtreeInt_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Btree_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Delegates.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Hash_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/VdbeInt_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Vdbe_h.cs" />

        <source-file src="src/wp/csharp-sqlite-src/alter_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/analyze_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/attach_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/auth_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/backup_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/bitvec_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/btmutex_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/btree_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/build_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/callback_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/complete_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/crypto.cs" />
        <source-file src="src/wp/csharp-sqlite-src/ctime_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/date_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/delete_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/expr_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/fault_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/fkey_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/func_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/global_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/hash_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/hwtime_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/insert_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/journal_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/keywordhash_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/legacy_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/loadext_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/main_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/malloc_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/mem_Pool.cs" />
        <source-file src="src/wp/csharp-sqlite-src/memjournal_c.cs" />

        <source-file src="src/wp/csharp-sqlite-src/mutex_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/mutex_noop_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/notify_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/opcodes_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/opcodes_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_common_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_win_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pager_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pager_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/parse_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/parse_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pcache1_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pcache_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pcache_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pragma_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/prepare_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/printf_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/random_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/resolve_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/rowset_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/select_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/sqlite3_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/sqliteInt_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/sqliteLimit_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/status_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/table_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/tokenize_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/trigger_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/update_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/utf_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/util_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vacuum_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbe_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbeapi_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbeaux_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbeblob_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbemem_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbetrace_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vtab_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/wal_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/wal_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/walker_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/where_c.cs" />

    </platform>

    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="wp-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <source-file src="src/wp/SQLitePlugin.cs" />
        <source-file src="src/wp/SQLite.cs" />

        <source-file src="src/wp/csharp-sqlite-src/_Custom.cs" />

        <source-file src="src/wp/csharp-sqlite-src/BtreeInt_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Btree_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Delegates.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Hash_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/VdbeInt_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/Vdbe_h.cs" />

        <source-file src="src/wp/csharp-sqlite-src/alter_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/analyze_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/attach_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/auth_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/backup_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/bitvec_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/btmutex_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/btree_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/build_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/callback_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/complete_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/crypto.cs" />
        <source-file src="src/wp/csharp-sqlite-src/ctime_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/date_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/delete_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/expr_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/fault_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/fkey_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/func_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/global_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/hash_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/hwtime_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/insert_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/journal_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/keywordhash_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/legacy_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/loadext_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/main_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/malloc_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/mem_Pool.cs" />
        <source-file src="src/wp/csharp-sqlite-src/memjournal_c.cs" />

        <source-file src="src/wp/csharp-sqlite-src/mutex_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/mutex_noop_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/notify_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/opcodes_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/opcodes_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_common_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/os_win_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pager_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pager_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/parse_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/parse_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pcache1_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pcache_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pcache_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/pragma_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/prepare_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/printf_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/random_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/resolve_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/rowset_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/select_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/sqlite3_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/sqliteInt_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/sqliteLimit_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/status_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/table_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/tokenize_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/trigger_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/update_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/utf_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/util_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vacuum_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbe_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbeapi_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbeaux_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbeblob_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbemem_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vdbetrace_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/vtab_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/wal_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/wal_h.cs" />
        <source-file src="src/wp/csharp-sqlite-src/walker_c.cs" />
        <source-file src="src/wp/csharp-sqlite-src/where_c.cs" />

    </platform>

    <!-- amazon-fireos -->
    <platform name="amazon-fireos">
        <!-- NOTE: Amazon Fire OS version still using (old) org.pgsqlite prefix for now -->

        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="android-package" value="org.pgsqlite.SQLitePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android-classic/org/pgsqlite/SQLitePlugin.java" target-dir="src/org/pgsqlite"/>
    </platform>

</plugin>

<!-- vim: set expandtab : -->
